<h1>Product details</h1>
<div class="container" *ngIf="(product$ | async) as product; else noProductFound">
  <div class="d-flex mt-5">
    <h1 class="text-center flex-grow-1">Products list</h1>
  </div>

  <div class="row main-products-grid">
    <mat-card class="mb-4 flex-fill">

      <button id="close-detail-component" mat-mini-fab color="primary" routerLink="/home">
        <mat-icon>close</mat-icon>
      </button>
      <div class="image-container">
        <img class="img-thumbnail" mat-card-image [src]="product.image" alt="{{ product.title }}">
      </div>
      <mat-card-title>
        {{ product.title }} </mat-card-title>
      <mat-card-content>
        <p class="price"><strong>{{ product.price | currency }}</strong></p>
        <p> {{ product.description }}</p>
        <p><strong>Category: </strong> <span class="text-muted">{{ product.category }}</span></p>
        <p><strong>Rating:</strong> {{ product.rating.rate }} ({{ product.rating.count }} reviews)</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #noProductFound>
  <span>No product Found! Something went wrong</span>
</ng-template>