<ng-template #productDetails>
  <h1 class="text-center">Product details</h1>
  <div *ngIf="(product$ | async) as product; else noProductFound" class="row main-products-grid">
    <mat-card class="mb-4 flex-fill">
      <button id="close-detail-component" mat-mini-fab color="primary" mat-dialog-close
              [mat-dialog-close]="true" routerLink="/home">
        <mat-icon>close</mat-icon>
      </button>

      <mat-card-title >
        {{ product.title }}
      </mat-card-title>

      <mat-card-content class="mt-5">
        <div class="image-container">
          <img class="img-thumbnail" mat-card-image [src]="product.image" alt="{{ product.title }}">
        </div>
        <p class="price"><strong>{{ product.price | currency }}</strong></p>
        <p> {{ product.description }}</p>
        <p><strong>Category: </strong> <span class="text-muted">{{ product.category }}</span></p>
        <p><strong>Rating:</strong> {{ product.rating.rate }} ({{ product.rating.count }} reviews)</p>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<ng-template #noProductFound>
  <span>No product Found! Something went wrong</span>
</ng-template>