<div class="col-md-6  justify-content-center container">
  <div class="card">
    <div class="card-header text-center">
      <h3>Login</h3>
    </div>
    <div class="card-body">
      <form #loginForm="ngForm">

        <div class="row">
          <mat-form-field>
            <mat-label for="userName">User Name</mat-label>
            <input matInput [ngModel]="initUserName" name="userName" #userNameField="ngModel"
                   type="text"
                   id="userName" required minlength="5"
                   placeholder="Enter userName">
            <!-- valdiation errors -->
            <ng-container *ngIf="userNameField.errors && userNameField.touched">
              <mat-error *ngIf="userNameField.errors "> {{userNameField.errors | json}} userName is required</mat-error>
            </ng-container>
          </mat-form-field>
        </div>

        <div class="form-group">
          <div class="row gx-5">
            <mat-form-field class="col mb-5">
              <mat-label for="password">Password</mat-label>
              <input matInput name="password" type="password" id="password" minlength="1"
                     placeholder="Password"
                     #password="ngModel" [ngModel]="initPassword" required>

              <!-- valdiation errors -->
              <ng-container *ngIf="password.errors && password.touched">
                <mat-error *ngIf="password.errors['required']">password is required</mat-error>
                <mat-error *ngIf="password.errors['minlength']">Password is too short (minimum length:
                  {{password.errors['minlength'].requiredLength}})</mat-error>
              </ng-container>
            </mat-form-field>
          </div>
        </div>

        <ng-container *ngIf="!(isLoggedIn$ | async); else logoutTemp">
          <button mat-raised-button type="submit" class="w-100"
                  (click)="login(loginForm.value.userName, loginForm.value.password)">Login</button>
        </ng-container>

        <ng-template #logoutTemp>
          <button mat-raised-button type="submit" class="btn btn-primary w-100"
                  (click)="logout(loginForm)">Logout</button>
        </ng-template>
      </form>
    </div>
  </div>
</div>