<ul class="navbar list-unstyled laptop-only">
	<li>
		<a routerLink="/">{{ title }}</a>
	</li>
	<div class="spacer"></div>
	<li routerLinkActive="nav-active"><a routerLink="/about">About</a></li>
	<li routerLinkActive="nav-active"><a routerLink="/skills">Skills</a></li>
	<li routerLinkActive="nav-active"><a routerLink="/portfolio">portfolio</a></li>
	<li routerLinkActive="nav-active"><a routerLink="/experience">experience</a></li>
	<li routerLinkActive="nav-active"><a routerLink="/education">education</a></li>
	<li routerLinkActive="nav-active"><a routerLink="/contact">contact</a></li>
</ul>
