<ul class="navbar list-unstyled laptop-only">
  <div class="navbar-item" routerLinkActive="nav-active" routerLink="/" [routerLinkActiveOptions]="{exact: true}"
       matTooltip="Angular inside" matTooltipClass="tooltip-red">
    <fa-icon class="logo-icon" [icon]="['fab', 'angular']"></fa-icon>
    <li>{{ title }}</li>
  </div>
  <div class="spacer"></div>

  <div class="navbar-item" routerLinkActive="nav-active" routerLink="/home">
    <mat-icon>home</mat-icon>
    <li>home</li>
  </div>

  <div class="navbar-item" routerLinkActive="nav-active" routerLink="/cart">
    <mat-icon>shopping_cart</mat-icon>
    <li>cart</li>
  </div>

  <div class="navbar-item" routerLinkActive="nav-active" routerLink="/dashboard">
    <mat-icon>shopping_cart</mat-icon>
    <li>dashboard</li>
  </div>

  <div *ngIf="authUser$ | async as authUser" mat-card-avatar class=" user-avatar" [matTooltip]="authUser">
    {{ authUser[0] }}</div>
</ul>

<!-- <mat-toolbar color="primary" class="navbar list-unstyled laptop-only">
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span>
    <span class="example-spacer"></span>

    <div class="navbar-item" routerLink="/">
      <button mat-icon-button class="example-icon">
        <mat-icon>home</mat-icon>
      </button>
      <mat-label>Home</mat-label>
    </div>

  </mat-toolbar-row> -->