.navbar {
  position: fixed;
  z-index: 2;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);
  display: flex;
  background-color: var(--main-bg-color);
  color: white;
  font-weight: 600;
}

.spacer {
  flex: 2;
}

.nav-active {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 30px;
  border: solid rgba(0, 0, 0, .3) 1px;

  &.navbar-item {
    color: white;
  }
}

.nav-active li {
  color: white;
  font-weight: 800;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  flex: 0 1 150px;
  height: 90%;
  padding: 3px;
}

.navbar-item {
  &:hover {
    cursor: pointer;
  }

  &:not(:first-of-type):hover {
    font-weight: 800;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 30px;
    border: solid rgba(0, 0, 0, .3) 1px;
  }
}

.logo-icon {
  font-size: 2em;
}

::ng-deep .tooltip-red {
  background: #b71c1c;
}

.navbar li {}