.cover-img-container {
      position: relative;
      width: 100%;
}

.cover-img {
      background-image: linear-gradient(to bottom, rgba(25, 118, 210, 0.4), rgba(25, 118, 210, 0)), url("/assets/landing.webp");
      background-size: cover;
      background-position: center;
      width: 100%;
      padding-bottom: 56.25%;
}

.cover-img-container h1 {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.cover-img-container h1:hover {
      color: rgb(255, 192, 91);
      cursor: pointer;
      transition: color 0.3s ease;
}

.container {
      margin-top: 20px;
}

.main-products-grid {
      margin-top: 20px;
}

.row {
      display: flex;
      flex-wrap: wrap;
}

.col-md-4 {
      display: flex;
}

mat-card {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 2em 3em;
}

mat-card-content {
      flex-grow: 1;
}

.img-thumbnail {
      max-height: 200px;
      object-fit: contain;
      margin: 0;

      &:hover {
            cursor: pointer;
      }
}

.image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
}

.price {
      font-size: 1.5em;
}

mat-card-actions {
      text-align: center;
}

.cart-count-button {
      position: fixed;
      bottom: 30px;
      right: 20px;
      z-index: 2;
      transition: scale 0.3s ease;

      &:hover {
            cursor: pointer;
            scale: 130%;
            transition: scale 0.3s ease;

            /*Targeting mat-icon when cart-count-button is hovered*/
            mat-icon {
                  font-weight: bolder;
            }
      }
}

.add-product-button {
      background-color: var(--main-bg-color);
      position: absolute;
      right: 0;
      margin-top: 20px;
}

.product-link {
      text-decoration: none;
      color: black;

      &:hover {
            color: rgb(65, 49, 236);
            cursor: pointer;
      }
}