.scroll-progress {
      width: 100%;
      height: 10px;
      position: fixed;
      bottom: 0;
      left: 0;
      -webkit-appearance: none;
      appearance: none;
}

progress::-webkit-progress-value {
      background-color: var(--main-bg-color);
}


.go-to-top-btn {
      position: fixed;
      bottom: 100px;
      right: 20px;
      z-index: 2;
}